In [1]:
import numpy as np
import pandas as pd

In [2]:
dataerp = pd.read_csv("../Data/raw_data/erp.csv")

In [3]:
dataerp

     product_id  onsale_web  price  stock_quantity stock_status
0          3847           1   24.2               0   outofstock
1          3849           1   34.3               0   outofstock
2          3850           1   20.8               0   outofstock
3          4032           1   14.1               0   outofstock
4          4039           1   46.0               0   outofstock
..          ...         ...    ...             ...          ...
820        7203           0   45.0              30      instock
821        7204           0   45.0               9      instock
822        7247           1   54.8              23      instock
823        7329           0   26.5              14      instock
824        7338           1   16.3              45      instock

[825 rows x 5 columns]

In [4]:
dataerp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    float64
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 32.4+ KB

In [5]:
prod_non_web = dataerp['onsale_web'][dataerp['onsale_web']== 0].count()
print("Produits non vendu sur le site :",prod_non_web)

Produits non vendu sur le site : 108

# Vérification et traitement des valeurs null (NaN)

In [6]:
print(dataerp.isnull().sum())

product_id        0
onsale_web        0
price             0
stock_quantity    0
stock_status      0
dtype: int64

# Vérification et traitement des doublons

In [7]:
# Recherche des doublons

dataerp.loc[dataerp['product_id'].duplicated(keep=False),:]

Empty DataFrame
Columns: [product_id, onsale_web, price, stock_quantity, stock_status]
Index: []

# Recherche des erreurs de saisie

In [8]:
# Recherche erreurs de saisie 'instock'

instock = dataerp[dataerp['stock_status'] == 'instock']
errorinstock = instock[instock['stock_quantity'] == 0]

errorinstock

     product_id  onsale_web  price  stock_quantity stock_status
443        4954           1   25.0               0      instock

In [9]:
# Recherche erreurs de saisie 'outofstock'

outofstock = dataerp[dataerp['stock_status'] == 'outofstock']
erroroutofstock = outofstock[outofstock['stock_quantity'] != 0]

erroroutofstock

Empty DataFrame
Columns: [product_id, onsale_web, price, stock_quantity, stock_status]
Index: []

- 1 produit n'ayant pas le bon 'stock_quantity' ou 'stock_status'

# Correction des erreurs de saisie

In [10]:
# Correction des produits en stock 

dataerp['stock_status'] = np.where(dataerp['stock_quantity']== 0, 'outofstock', 'instock')

In [11]:
# Vérification des prix

prix = dataerp['price'].unique()

sorted(prix)

[5.2,
 5.7,
 5.8,
 6.3,
 6.5,
 6.7,
 6.8,
 7.0,
 7.1,
 7.2,
 7.4,
 7.5,
 7.6,
 7.7,
 7.8,
 7.9,
 8.0,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 8.7,
 8.9,
 9.0,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 9.7,
 9.8,
 9.9,
 10.0,
 10.1,
 10.2,
 10.3,
 10.4,
 10.6,
 10.7,
 10.8,
 10.9,
 11.0,
 11.1,
 11.3,
 11.5,
 11.6,
 11.8,
 11.9,
 12.0,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 12.7,
 12.8,
 12.9,
 13.0,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 13.7,
 13.8,
 13.9,
 14.0,
 14.05,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 14.7,
 14.8,
 14.9,
 15.2,
 15.3,
 15.4,
 15.5,
 15.8,
 15.9,
 16.1,
 16.2,
 16.3,
 16.4,
 16.45,
 16.5,
 16.6,
 16.7,
 16.8,
 16.9,
 17.0,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 17.7,
 17.8,
 17.9,
 18.0,
 18.1,
 18.2,
 18.25,
 18.3,
 18.4,
 18.5,
 18.6,
 18.7,
 18.8,
 18.9,
 19.0,
 19.2,
 19.3,
 19.5,
 19.8,
 19.9,
 20.0,
 20.1,
 20.2,
 20.35,
 20.4,
 20.5,
 20.6,
 20.8,
 21.0,
 21.2,
 21.4,
 21.5,
 21.6,
 21.7,
 21.8,
 21.9,
 22.0,
 22.1,
 22.2,
 22.4,
 22.5,
 22.8,
 22.9,
 23.0,
 23.2,
 23.4,
 23.5,
 23.6,
 23.7,
 23.8,
 24.0,
 24.2,
 24.3,
 24.4,
 24.5,
 24.6,
 24.7,
 24.8,
 25.0,
 25.2,
 25.3,
 25.7,
 25.9,
 26.0,
 26.2,
 26.4,
 26.5,
 26.6,
 26.7,
 26.9,
 27.0,
 27.2,
 27.3,
 27.5,
 27.7,
 27.8,
 27.9,
 28.0,
 28.1,
 28.4,
 28.5,
 28.8,
 29.0,
 29.2,
 29.4,
 29.5,
 29.7,
 29.8,
 29.9,
 30.0,
 30.1,
 30.5,
 30.6,
 30.8,
 31.0,
 31.2,
 31.5,
 31.6,
 31.7,
 32.0,
 32.1,
 32.2,
 32.3,
 32.6,
 32.7,
 32.8,
 33.0,
 33.2,
 33.4,
 33.6,
 33.7,
 34.2,
 34.3,
 34.4,
 34.5,
 34.7,
 34.8,
 35.0,
 35.1,
 35.2,
 35.3,
 35.5,
 35.6,
 36.0,
 36.2,
 36.3,
 36.9,
 37.0,
 37.2,
 37.5,
 37.7,
 38.0,
 38.4,
 38.5,
 38.6,
 39.0,
 39.1,
 39.2,
 39.6,
 39.8,
 40.0,
 40.2,
 40.5,
 40.7,
 41.0,
 41.2,
 41.6,
 41.8,
 42.0,
 42.1,
 42.2,
 42.5,
 42.6,
 43.0,
 43.3,
 43.5,
 43.9,
 44.0,
 44.3,
 44.5,
 44.6,
 45.0,
 45.9,
 46.0,
 46.5,
 47.0,
 47.2,
 47.5,
 48.4,
 48.5,
 48.7,
 48.8,
 49.0,
 49.5,
 49.9,
 50.0,
 50.1,
 50.4,
 50.5,
 51.0,
 51.6,
 52.4,
 52.6,
 52.7,
 52.9,
 53.0,
 53.2,
 54.8,
 55.0,
 55.4,
 55.6,
 56.0,
 56.3,
 56.4,
 57.0,
 57.6,
 57.7,
 58.0,
 58.3,
 58.8,
 59.0,
 59.4,
 59.6,
 59.8,
 59.9,
 60.0,
 60.4,
 61.6,
 62.0,
 62.1,
 62.4,
 62.5,
 63.4,
 63.5,
 64.9,
 65.0,
 65.9,
 67.0,
 67.2,
 67.5,
 68.1,
 68.3,
 69.0,
 69.8,
 71.3,
 71.5,
 71.6,
 71.7,
 72.0,
 73.0,
 73.3,
 73.5,
 74.5,
 74.8,
 76.8,
 77.0,
 77.4,
 77.8,
 78.0,
 79.5,
 79.8,
 80.0,
 83.0,
 83.7,
 84.7,
 85.6,
 86.1,
 86.8,
 88.4,
 92.0,
 93.0,
 99.0,
 100.0,
 102.3,
 104.0,
 105.0,
 105.6,
 108.5,
 109.6,
 112.0,
 114.0,
 115.0,
 116.4,
 121.0,
 122.0,
 124.8,
 126.5,
 135.0,
 137.0,
 144.0,
 157.0,
 175.0,
 176.0,
 191.3,
 217.5,
 225.0]

# Création d'une copie nettoyer

In [12]:
dataerp.to_csv('../Data/processed_data/erp_V2.csv', index=False)